div{
  background-color: #252A34;
  color: #BBE1FA;
  text-align: center;
  font-family: 'Courgette', cursive;

}
.caveat{
  font-family: 'Caveat', cursive;
}
.dancing-script{
  font-family: 'Dancing Script', cursive;
}
.shadows-into-light{
  font-family: 'Shadows Into Light', cursive;
}

body{
  margin: 0px;

}

h1{
  margin-top: 0px;
  font-size: 5rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
p{
  font-size: 1.375rem;
}
.bottom-cloud{
  position: absolute;
  
}
.top-cloud{
  position: absolute;
  right:30%;
  top: 50px;
}
.top-container{
  background-color:#252A34;
  padding-top: 100px;
}
.skills-grid{
  display:grid;
  margin:5%;
  grid-template-columns: auto auto;
}
.skill-row-left{
  right:5%;
  /*border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-right: none;
  border-color: black;
  border-width: thick;*/
}
.skill-row-right{
  left: 5%;
  /*border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-right: solid;
  border-color: black;
  border-width: thick;*/

}
.hiddendiv {display: none; margin-top: 2%;}
.testA:focus ~ #testA {display: block; }
.testB:focus ~ #testB {display: block; }
.testC:focus ~ #testC {display: block; }
.testD:focus ~ #testD {display: block; }

.inline{
  display:inline;
  margin:5%;
}
.underline{
  text-decoration: underline;
}